@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  list-style: none;
}
.border {
  /* border: 2px solid red; */
  margin: 10px 3px 5px 3px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-gray {
  background-color: #121212;
}
.bg-black {
  background-color: black;
}
.light-gray {
  background-color: #1f1f1f;
}

.m-1 {
  margin: 20px;
  list-style: none;
}

.home .logo {
  margin-left: 20px;
}

.rounded1 {
  border-radius: 15px;
}

.rounded2 {
  border-radius: 10px;
}
.cursor {
  cursor: pointer;
}
.playBtn {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: rgb(51, 194, 51);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 16px 18px 16px;
  bottom: 35%;
  right: 10px;
  opacity: 0;
  transition: 0.2s ease-out;
}

.playBtn:hover {
  background-color: #15d85d;
}

/* For WebKit-based browsers */

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #333; /* Track color (background of the scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Color of the scrollbar thumb on hover */
}
